Package: com.Lema.Michael.WAVE
Name: Wave
Version: 1.0
Description: Add extra controls for your AirPods!
Section: Tweaks
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Michael Lema
dev: 
Homepage: 
Depiction: 
Maintainer: Michael Lema
Icon: 

